<div class="main">
  <div class="header">
    <div class="background-img">
      <img src="assets/pattern-bg-desktop.png" alt="blue-pattern" />
      <h1 class="title">IP Adress Tracker</h1>
    </div>
    <div class="search-bar">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search for any IP adress or domain"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="ip-adress-info">
      <ul class="ip-list">
        <li>
          <p>IP ADDRESS</p>
        </li>
        <div class="vertical-line"></div>
        <li>
          <p>LOCATION</p>
        </li>
        <div class="vertical-line"></div>
        <li>
          <p>TIMEZONE</p>
        </li>
        <div class="vertical-line"></div>
        <li>
          <p>ISP</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="map">
    <!-- Dodati mapu sa API-a -->
    <!-- Dodati API za IP adrese -->
  </div>
</div>
<!-- Ispisati ip podatke u li element -->
